
.header
{
    width: 100%;
position: fixed;
top:0;
background-color: var(--blue-dark-semi);
left: 0;
height: 40px;
color: white;
font-family: 'PixelizerBold', sans-serif;
  font-weight: bold;
  font-style: normal;

}