* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GeorgiaPro',sans-serif;
}



:root {
  --blue-dark: #3B28CC;
  --blue-dark-semi: #2667FF;
  --blue-default: #3F8EFC;
  --blue-light: #87BFFF;
  --blue-gray: #ADD7F6;
  --gray-light: #f7f8f9;
  --input-border: #E8ECF4;
  --font-react: Optimistic Display,-apple-system,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

/* Georgia Pro Black */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('/fonts/GeorgiaPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Georgia Pro Black Italic */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('/fonts/GeorgiaPro-BlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Georgia Pro Bold */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('/fonts/GeorgiaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Georgia Pro Bold Italic */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('/fonts/GeorgiaPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Georgia Pro Italic */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('/fonts/GeorgiaPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Georgia Pro Light */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('/fonts/GeorgiaPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Georgia Pro Light Italic */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('/fonts/GeorgiaPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Georgia Pro Regular */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('/fonts/GeorgiaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Georgia Pro SemiBold */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('/fonts/GeorgiaPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Georgia Pro SemiBold Italic */
@font-face {
  font-family: 'GeorgiaPro';
  src: url('/fonts/GeorgiaPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Pixelizer Bold */
@font-face {
  font-family: 'PixelizerBold';
  src: url('/fonts/PixelizerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Share Tech Mono Regular */
@font-face {
  font-family: 'ShareTechMonoRegular';
  src: url('/fonts/ShareTechMonoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
react
         */
@font-face {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Source-Code-Pro-Regular.woff2') format("woff2")
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_W_Md.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_W_MdIt.woff2') format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_W_SBd.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_W_SBdIt.woff2') format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_W_Bd.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_W_BdIt.woff2') format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_W_Rg.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_W_It.woff2') format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_W_Md.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_W_MdIt.woff2') format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_W_Bd.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_W_BdIt.woff2') format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Arbc_W_Md.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: u+06??
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Arbc_W_SBd.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: u+06??
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Arbc_W_Bd.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: u+06??
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Arbc_W_Rg.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: u+06??
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Arbc_W_Md.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: u+06??
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Arbc_W_Bd.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: u+06??
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Cyrl_W_Md.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0400-045f, u+2116
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Cyrl_W_SBd.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0400-045f, u+2116
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Cyrl_W_Bd.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0400-045f, u+2116
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Cyrl_W_Rg.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0400-045f, u+2116
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Cyrl_W_Md.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0400-045f, u+2116
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Cyrl_W_Bd.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0400-045f, u+2116
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Deva_W_Md.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0900-097f, u+1cd0-1cf6, u+1cf8-1cf9, u+200c-200d, u+20a8, u+20b9, u+25cc, u+a830-a839, u+a8e0-a8fb
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Deva_W_SBd.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0900-097f, u+1cd0-1cf6, u+1cf8-1cf9, u+200c-200d, u+20a8, u+20b9, u+25cc, u+a830-a839, u+a8e0-a8fb
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Deva_W_Bd.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0900-097f, u+1cd0-1cf6, u+1cf8-1cf9, u+200c-200d, u+20a8, u+20b9, u+25cc, u+a830-a839, u+a8e0-a8fb
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Deva_W_Rg.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0900-097f, u+1cd0-1cf6, u+1cf8-1cf9, u+200c-200d, u+20a8, u+20b9, u+25cc, u+a830-a839, u+a8e0-a8fb
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Deva_W_Md.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0900-097f, u+1cd0-1cf6, u+1cf8-1cf9, u+200c-200d, u+20a8, u+20b9, u+25cc, u+a830-a839, u+a8e0-a8fb
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Deva_W_Bd.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0900-097f, u+1cd0-1cf6, u+1cf8-1cf9, u+200c-200d, u+20a8, u+20b9, u+25cc, u+a830-a839, u+a8e0-a8fb
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Viet_W_Md.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0102-0103, u+0110-0111, u+1ea0-1ef9, u+20ab
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Viet_W_SBd.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0102-0103, u+0110-0111, u+1ea0-1ef9, u+20ab
}

@font-face {
  font-family: Optimistic Display;
  src: url('/fonts/Optimistic_Display_Viet_W_Bd.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0102-0103, u+0110-0111, u+1ea0-1ef9, u+20ab
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Viet_W_Rg.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0102-0103, u+0110-0111, u+1ea0-1ef9, u+20ab
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Viet_W_Md.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0102-0103, u+0110-0111, u+1ea0-1ef9, u+20ab
}

@font-face {
  font-family: Optimistic Text;
  src: url('/fonts/Optimistic_Text_Viet_W_Bd.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0102-0103, u+0110-0111, u+1ea0-1ef9, u+20ab
}